
#entete{
    width: 99%;
    height: 100px;
    background-color: aqua;
}
button{
    width: 10%;
    height: 40%;
    border-radius: 10px;
    text-decoration: none;
    background-color: cornflowerblue;
}
#entete{
    display: flex;
    justify-content: space-between;
}
#const{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: #fff;
}
#profil{
    width: 30%;
    background-color: cornflowerblue;
    height: 30%;
    border: solid black 3px;
}
#liste{
    display: flex;
    height: 75%;
    width: 30%;
    background-color: red;
    border: solid black 2px;
}
a{
    text-decoration: none;
    size: 50px;
}








